.bannerwrapper {
  position: fixed;
  z-index: -2;

  display: flex;
  width: 100%;
  color: #fff;
  height: 66vh;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  box-sizing: border-box;
}
.contentwrapper {
  display: flex;
  z-index: 1;
  width: 100%;
  color: #fff;
  height: 100vh;

  box-sizing: border-box;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.homecontent {
  z-index: 999;
  padding-top: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  display: block;
  scroll-snap-align: start none;
}
.homespace {
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  display: none;
  justify-items: center;
  scroll-snap-align: start none;
}

.blue {
  height: 100%;
  margin-bottom: 66vh;
}

.blue {
  display: block;
  scroll-snap-align: start none;
}
.judulporto {
  display: flex;
  width: 600px;
  height: fit-content;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000;

  margin: auto;
}

.judulporto h1 {
  font-size: 32px;
  font-weight: 100;
  color: #1c1c1a;
}

.listwedding {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 35px;
}
.listweddingitem {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 280px;
  height: 280px;
  margin: auto;
  display: block;
  margin: 20px;
  position: relative;
  text-align: center;
}
.listweddingitem:hover {
  cursor: pointer;
}

.listweddingitemimage {
  object-fit: cover;
  overflow: hidden;
  position: relative !important;
}
.listweddingitemtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 280px;
  background-color: rgba(20, 20, 20, 0.1);
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listweddingitemtext:hover {
  background-color: rgba(20, 20, 20, 0.327);
}
.listweddingitemtextkategori {
  transition: 0.3s ease-in-out;
  font-size: 20px;
  margin: 10px;
}
.listweddingitemtextpasangan {
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  margin: 10px;
}
.listweddingitemtexticon {
  transition: 0.3s ease-in-out;
  font-size: 19px;
  margin: 10px;
}
.listweddingitemtext:hover .listweddingitemtextkategori {
  transform: translateY(-5px);
}
.listweddingitemtext:hover .listweddingitemtextpasangan {
  transform: translateY(-5px);
}
.listweddingitemtext:hover .listweddingitemtexticon {
  transform: translateY(-5px);
}
@media (max-width: 1023px) {
  .bannerwrapper {
    height: 90vh;
  }
  .homespace {
    display: block;
  }
  .homecontent {
    border-radius: 15px 15px 0 0;
    padding-top: 25px;
  }

  .blue {
    height: 0%;
    margin-bottom: 60vh;
  }
  .judulporto {
    width: 90%;
  }
  .judulporto h1 {
    font-size: 25px;
  }
}
