.homewrapper {
  display: flex;
  z-index: 1;
  width: 100%;
  color: #fff;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.homecontent {
  z-index: 999;
  padding-top: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  display: block;
  scroll-snap-align: start none;
}
.homespace {
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  display: none;
  justify-items: center;
  scroll-snap-align: start none;
}

.blue {
  height: 100%;
  margin-bottom: 66vh;
}

.blue {
  display: block;
  scroll-snap-align: start none;
}
@media (max-width: 1023px) {
  .homewrapper {
  }
  .homespace {
    display: block;
  }
  .homecontent {
    border-radius: 15px 15px 0 0;
    padding-top: 25px;
  }

  .blue {
    height: 0%;
    margin-bottom: 60vh;
  }
}
